/* Body: "About" Content */

section {

    width: 960px;
    margin: auto;
    overflow: auto;  
    background-color: #ffffff;
    border: 1px solid #dddddd;
    flex: 1 0 auto;

}

#about {

    
}

img {

    /* height: 256px;
    width: 192px; */
    height: 30%;
    width: 20%;
    float: left; 
    padding-right: 30px;
    padding-bottom: 30px;
}

h1 {


}

#content {


}



/* Footer */

footer {

    text-align: center; 
    flex-shrink: 0;

}


